{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}
{% block body %}
<div class="container">
    <h1>Liste des articles</h1>
    <div class="row">
        {% for article in articles %}
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ article.title }}</h2>
                    <p class="card-text">{{ article.description }}</p>
                    <p class="card-text">{{ article.dateCreated|date('d/m/Y') }}</p>
                    <a href="{{ path('app_product_show', {'id': article.id}) }}"><p class="btn btn-primary">Détails du article</p></a>
                    <p class="card-text">{{ article.categorie}}</p>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}